body {
    background-color: #ffffff;
    max-width: 1440px;
    margin: auto;
}
header{
    padding: 0 80px;
    margin-bottom: 23px;
}
header img {
    margin: 31px 0;
}
header nav {
    padding: 42px 0 46px 0;
    float: right;
    color: #808080;
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.5px;
    text-align: left;
    list-style: none;
}
header nav li {
    display:inline-block;
}
header nav li:nth-child(1) {
  margin-right:  41px;
}
header nav li:nth-child(2) {
    margin-right: 55px;
}
header nav li a{
    color:#4A90E2;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration:none;
    font-weight: bold;
}
/*search section*/
.search {
    background-image: url('./../images/hero_banner.png');
    height: 915px;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
    z-index: -1;
}
.search .search_container {
    position: absolute;
    margin: 320px 250px 0 343px;
    padding: 26px 36px 26px 93px;
    background-color: #ffffff;
}
.search_container input {
    width: 667px;
    height: 33px;
    font-size: 24px;
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.5px;
    border:0;
}
.search_button {
    width: 31px;
    height: 26px;
    background-image: url(./../images/Shape.png);
    float: right;
    margin-top: 3px;

}
/*why us? section*/
.whyus {
    background-color: #ffffff;
    width: 1280px;
    height: 395px;
    margin: -134px 80px 0 80px;
    z-index: 555;
}
h2{
    text-align: center;
    font-family: Open Sans ; 
    font-Weight: 600; 
    font-size: 40px;
    font-style: normal;
}
.whyus h2 {  
    padding: 40px;
}
.whyus__content{
    width: 1280px;
    height: 186px;;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.whyus__container-item {
    float: left;
    width: 210px;
}
.whyus__container-item img {
    margin: 0px 60px 0px 59px;
    align: center;
}
.whyus__container-item div {
    font-size: 18px;
    text-align: center;
    margin-top: 42.21px;
    font-family:Open Sans ; 
    font-Weight: 600;
    line-height: 25px;
    letter-spacing: 0.375px;
    color: #465366;
}

/*Our Services section*/
.ourservices {
    margin-top:113px;
}
.ourservices__list{
    width: 1272px;
    height: 1348px;
    margin-left: 84px;
    margin-right: 84px;
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.ourservices__list-item {
    float: left;
    width: 296px;
    height: 296px;
    margin-right: 16px;
}
.ourservices__list-itemname {
    margin-top:36px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    color: #808080;
    letter-spacing: 0.625px;
}

/*request section*/
.request {
    display: flex;
    flex-direction: column;
    align-items: center;;
}
.request h2{
    margin-top: 120px;
}
form {
}
::-webkit-input-placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #8B8B8B;
    margin: 23px 0 10px 12px;
}
#emqil{
    margin-top:42px;
}
.request__item input[type='text'] {
    margin-top: 20px;
    border: 1px solid #CBCBCB;
    box-sizing: border-box;
    border-radius: 4px;
    width: 700px;
    height: 52px;
    left: 370px;
}
.request__item input[type='tel'] {
    margin-top: 20px;
    border: 1px solid #CBCBCB;
    box-sizing: border-box;
    border-radius: 4px;
    width: 700px;
    height: 52px;
    left: 370px;
}
#message {
    width: 700px;
    height: 166px;
    left: 370px;
    top: 3281px;
    border: 1px solid #CBCBCB;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom:31px
}
.request input[type=checkbox] {
    width: 18px;
    height: 18px;
    border: 1px solid #CBCBCB;
    box-sizing: border-box;
    border-radius: 2px;
}
.request label{
    width: 291px;
    height: 19px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #474747;
}
.request input[type='submit']{
    width: 700px;
    height: 50px; 
    background: #4A90E2;
    border-radius: 4px;
    margin-top: 42px;
    margin-bottom: 14px;
}
.request .privacy {
    height: 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #474747;
}

.request .privacy a {
    display: inline-block;
}